* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.drama-addict-title {
  align-self: center;
  text-align: center;
  margin-top: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: auto;
  padding: 0px 10px 10px 10px;
}

.item {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.video-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.episode-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.player-title {
  margin-bottom: 8px;
}

.player-footer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 8px;
}

.player-footer-button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.left-column {
  flex: 1;
}

.left-column img {
  width: 100%;
  height: auto;
}

.right-column {
  flex: 1;
  padding: 10px;
}

.right-column h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.right-column p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}